<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ContactForm</title>
</head>
<body>
    <h1>Contact Form</h1>
    <form method="post" action="/contactform">
        <input type="name" name="name" placeholder="Name"/>
        <input type="email" name="email" placeholder="Email"/>
        <button type="submit">Submit Form</button>
    </form>
</body>
</html>